/* header */

    .st0{fill:transparent;}
    .st1{fill: white; transition-property: fill;  transition-duration: 0.3s;}

    .overflover{overflow: hidden;
        header{padding-right: 16px;}
    }
    .mobile{
        .overflover{overflow: hidden;
            header{padding-right: 0px;}
        }
    }

    // .fancybox-lock body{overflow: hidden; width: 100vw; height: 100vh; min-height: 0;
    //     .global-wrapper{overflow: hidden; }
    //     .fancybox-overlay-fixed{height: 100vh !important; overflow: hidden;}
    // }

    .fancybox-margin header {padding-right: 16px;}
    .mobile.fancybox-margin header {padding-right: 0px;}
    header{position: fixed; z-index: 150; top: 0; width: 100%; background-color: rgba(0, 0, 0, 0.5); backface-visibility: hidden;
        .conteiner{ padding: 0 15px;
            .mbox2{ height: 100px; display: flex; justify-content: space-around; align-items: center ;
                .logo-block{ min-width: 110px;max-width: 120px;height:64px;overflow:hidden;
                    .convert{width: 120px;height: 100%;
                        svg{width: 185px; height: 110px;position:relative;left:-37px;top:-21px;cursor:pointer;transition-property: fill;  transition-duration: 3s;}
                    }
                }
                .butterbrod.active{display: none;}
                .hum-menu{display: none;}
                nav{ min-width: 850px;
                    ul{width: 100%;
                        li{display: block; float: left; width: 16.5%; text-align: center; border-right: 1px solid rgba(255, 255, 255, 0.3); cursor: pointer;
                            a{ color: white; width: 100%; text-decoration: none; font-size: 14px; font-family: "Roboto", sans-serif; line-height: 1.2; text-transform: uppercase; position: relative;
                                span{left: 50%; right: 50%;position: absolute; bottom: -3px; height: 2px; transition: all 0.3s; opacity: 0;}
                            }
                            &:last-child{border-right: none;}
                            &:hover,&.active{
                                a{
                                    span{position: absolute; left: -5px; right: -5px; bottom: -3px; opacity: 1;}
                                }
                            }
                        }
                    }
                }
                .but-block{ min-width: 250px;
                    a{display: block; text-decoration: none; text-align: center; }
                    .button-header{ width: 100%;  height: 50px; border: 2px solid; border-radius: 25px; line-height: 46px;font-size: 14px; font-family: "Roboto", sans-serif; color: rgb(255, 255, 255); text-transform: uppercase; transition: all 0.3s;
                        svg{display: none;}
                        i{display: none;}
                    }
                    .call-back-me{font-size: 18px; font-family: "Futura", sans-serif; color: rgb(255, 255, 255);  font-weight: bold; line-height: 1.2; padding-top: 7px;}
                }
            }
        }
    }

    #call-popup{ border-radius: 12px; background-color: white; width: 655px; padding: 65px 0;
        form{ max-width: 300px; margin: 0 auto;
            .contact-form-title{ width: 100%;
                .convert{ text-align: center; }
                h5{ padding: 30px 0; font-size: 24px; font-family: "Roboto", sans-serif; color: rgb(79, 79, 79); font-weight: 700; text-transform: uppercase; line-height: 1.2; text-align: center; position: relative;
                    span{content: ''; position: absolute; bottom: 0; left: 0; right: 0; height: 5px; border: 2px solid #fa8d3c; background-color: transparent; border-radius: 3px; }
                }
            }
            .contact-form-row{
                .contact-form-item{ padding: 20px 0;
                    input{width: 100%; height: 60px; border-radius: 30px; border: 2px solid rgb(209, 209, 209);font-size: 16px; font-family: "Roboto";  color: rgb(79, 79, 79);  line-height: 58px; text-indent: 30px;  transition: all 0.3s;}
                    label{display: none !important;}
                    ::-webkit-input-placeholder {color: rgb(79, 79, 79);}
                    ::-moz-placeholder          {color: rgb(79, 79, 79);}
                    :-moz-placeholder           {color: rgb(79, 79, 79);}
                    :-ms-input-placeholder      {color: rgb(79, 79, 79);}
                    input.error{border-color: red !important; box-shadow: 0px 0px 14px 0px red;}
                }
            }
            .contact-form-item{
                button{width: 100%; height: 60px; border-radius: 30px; border: 2px solid; background-color: transparent;cursor: pointer; font-size: 18px; font-family: "Roboto", sans-serif;  font-weight: 700; line-height: 58px; transition: all 0.3s; text-shadow: none;

                }
            }
        }
    }
    #call_success{ width: 300px; height:240px; border-radius: 12px; display: flex; align-items: center; justify-content: center; background-color: white;
        .call-title{font-size: 24px; font-family: "Roboto", sans-serif; color: rgb(79, 79, 79); font-weight: 700; text-transform: uppercase; line-height: 1.2; text-align: center; padding-top: 10px;}
        .call-subtitle{font-size: 16px; font-family: "Roboto", sans-serif; color: rgb(79, 79, 79); font-weight: 700; text-transform: uppercase; line-height: 1.2; text-align: center;}
        .convert{width: 100%; text-align: center;}
    }


/* /header */

/* top-block */

    .top-block{background-image:url(../images/top-block-bg.jpg);background-repeat: no-repeat;background-position: center top;background-size:cover;position: relative;
        &:before{content:'';display: block;position: absolute;top:0;left:0;right:0;bottom:0;background-color: rgba(0, 0, 0, .3);z-index: 3;}
        &:after{content:'';display: block;position: absolute;top:0;left:0px;width: 100%;height: 100%;background-image:url(../images/sheep.svg);background-repeat: no-repeat;background-position: center top;background-size:cover;z-index: 2;}

        .mouse-parallax{
            .parallax-layer{
                span{background-repeat: no-repeat;width: 100%;margin-left: 0;backface-visibility: hidden;}
                &.layer-2{top: 100px;
                    span{background-position:90% top;}
                }
            }
        }

        .top-block-wrap{height: 960px;display: flex;flex-direction:column;justify-content:flex-end;align-items:center;position: relative;text-align: center;z-index: 4;}

        .top-block-main{max-width: 645px;width: 100%;
            .top-block-title{margin-bottom: 50px;
                h1{color:#fff;font-size:48px;line-height:58px;text-transform: uppercase;
                    span{color:#f98e3c;font-weight: 900;}
                }
            }
            .top-block-descript{font-size: 22px;color:#fff;margin-bottom: 60px;text-align: center;
                .top-block-descript-wrap{display: inline-block;position: relative;padding-bottom:8px;min-height:52px;display: -webkit-flex;align-items:flex-end;justify-content:center;transition:opacity 300ms ease;
                    .descript-line{content:'';display: block;position: absolute;left:0;bottom:0;height: 5px;width: 0;/*transition:width 6000ms ease 300ms;*/}
                    &.new-text{opacity: 0;
                        .descript-line{width: 0;transition:width 0ms ease 0ms;}
                    }
                }
            }
            .top-block-button{margin-bottom: 100px;
                a{display: flex;justify-content:center;align-items:center;max-width: 645px;width: 100%;border-radius: 50px;border:2px solid #ca7333;background-color: #f98e3c;height: 78px;position:relative;color:#fff;font-weight: 700;text-decoration: none;font-size: 22px;padding: 0 85px;transition:background-color 300ms ease, border-color 300ms ease;
                    .button-text{position: relative;z-index: 2;}
                    .button-background{display:block;position: absolute;left:-2px;top:-2px;bottom:-2px;z-index: 1;right:calc(100% - 70px);border-radius: 50px;border-width:2px;border-style:solid;transition:right 500ms ease;}
                    .span-button-arrow{display: block;position: absolute;z-index:3;top:-2px;right:calc(100% - 77px);width: 80px;height: 78px;border-radius: 50%;border:2px solid #fa8d3c;background-color: #d17128;transition:background-color 300ms ease, border-color 300ms ease, right 500ms ease, transform 500ms ease;
                        &:before, &:after{content:'';display: block;position:absolute;left:calc(50% - 9px);top:calc(50% - 2px);width: 18px;height: 4px;background-color: #fff;transform-origin:100% 2px;}
                        &:before{transform:rotate(45deg);top:calc(50% - 1px);}
                        &:after{transform:rotate(-45deg);top:calc(50% - 3px);}
                    }
                    &:hover{
                        .button-background{right:0;}
                        .span-button-arrow{right:-3px;}
                    }
                }
            }
        }

        .top-block-footer{max-width: 430px;width: 100%;margin:0 auto 0 auto;font-size: 22px;color:#fff;margin-bottom: 100px;position: relative;
            p{line-height: 26px;
                span{font-weight: 700;color:#fa8d3c;cursor: pointer;}
            }
            .top-block-bottom-arrow{position: absolute;left:calc(50% - 15px);top:calc(100% + 8px);height: 35px;width: 30px;cursor:pointer;animation-name:topBottomMoving;animation-duration:.5s;animation-iteration-count:infinite;animation-direction:alternate;animation-timing-function: linear;
                &:hover, &.paused{animation-play-state: paused;}
                .arrow-wrap{position: absolute;left:0;right:0;
                    .arrow-wrap-left, .arrow-wrap-right{content:'';display: block;position: absolute;width: 20px;height: 2px;background-color: #fff;top:15px;}
                    .arrow-wrap-left{transform-origin:100% 50%;transform:rotate(45deg);left:calc(50% - 20px);}
                    .arrow-wrap-right{transform-origin:0% 50%;transform:rotate(-45deg);left:calc(50% + 0px);}
                    &:last-child{top: 15px;}
                }
            }
        }

        .trianges{z-index: 5;}

    }

    body.show{
        .top-block{
            .top-block-main{
                .top-block-descript{
                    .descript-line{width: 100%;}
                }
            }
        }
    }

/* /top-block */

/* services */

    .services{background-image:url(../images/services-bg.jpg);background-repeat: no-repeat;background-position: center top;padding: 300px 0 160px 0;position: relative;background-size:cover;

        .title{font-family:"FuturaPT", sans-serif;font-weight: 700;font-size: 30px;color:#fff;text-align: center;padding-bottom:15px;position: relative;margin-bottom: 17px;
            span{display: block;position: absolute;bottom: 0;left: calc(50% - 100px);width: 200px;height: 5px;background-color: #fda961;}
        }
        .title-descript{font-weight: 700;color:#fff;font-size: 18px;text-align: center;max-width: 370px;width: 100%;margin:0 auto 50px auto;line-height: 22px;}

        .services-items-wrap{display: flex;flex-wrap:wrap;align-items:flex-start;justify-content:center;
            .services-item{text-align: center;position: relative;margin: 0 5px;
                &:before{content:'';display: block;position: absolute;left: 0;top: 0;width: 100%;height: 100%;z-index: 1;border-radius: 5px;border-width: 1px;background-color: rgba(12, 67, 112, .45);border-color:#0e5166;box-shadow: 0 0 40px 0 rgba(0, 182, 244, .55);opacity:0;backface-visibility: hidden;transform:translateZ(0px);transition:opacity 300ms ease;}
                .services-item-content{position: relative;z-index: 2;text-align: center;
                    a{text-decoration: none;display: block;padding: 55px 40px 45px 40px;}
                }
                &:hover{
                    &:before{opacity: 1;}
                }
                .services-item-desc{position: relative;padding-bottom: 15px;margin-bottom: 13px;transform:translateZ(0px);
                    span{display: block;position: absolute;bottom:0px;width: 52px;height: 2px;background-color: #fa8d3c;left:calc(50% - 26px);}
                }
                .services-title{color:#fff;font-size: 24px;font-weight: 700;text-transform: uppercase;margin-bottom: 40px;}
                .services-image{height: 260px;position: relative;display:flex;align-items:center;justify-content:center;
                    .services-circle{position: absolute;top:calc(50% - 100px);left:calc(50% - 100px);width: 200px;height: 200px;border-radius: 50%;background-color: #fda961;backface-visibility: hidden;transform:translateZ(0px);transition:background-color 300ms ease;}
                    img{position: relative;z-index: 1;}
                }

                .services-item-button{position: relative;z-index: 1;
                    .button{max-width: 250px;width: 100%;height: 50px;display: flex;justify-content:center;align-items:center;border:3px solid #ffffff;border-radius: 50px;text-decoration: none;color:#fff;font-weight: 700;font-size: 14px;text-transform: uppercase;margin: 0 auto;transition:border-color 300ms ease;position: relative;
                        span{position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);}
                    }
                }
            }
        }

    }

/* /services */

/* contacts */
html.desktop.mac{
    .contacts{
        .trianges.trianges-bottom.not-center{border-width: 100px 960px 0 960px;}
    }
}
    .contacts{position: relative;background-image:url(../images/cantacts-background-new.jpg);background-repeat: no-repeat;background-size: cover;background-position: center top;padding: 220px 0 170px 0;
        .contacts-descript{max-width: 720px;width: 100%;margin:0 auto 18px auto;padding: 0  10px 18px 10px;position: relative;font-size: 24px;font-weight: 700;color:#fff;text-align: center;line-height: 28px;
            span{position: absolute;max-width: 480px;width: calc(100% - 20px);height: 5px;background-color: #898989;left:50%;transform:translate(-50%, 0);bottom: 0;}
        }
        .contacts-arrow{margin-bottom: 40px;
            .mega-arrow{
                .mega-arrow-wrap span{background-color: #fff;}
            }
        }
        .contacts-main-title{text-align: center;position: relative;font-family: 'FuturaPT', sans-serif;color:#fff;font-weight: 700;padding-bottom: 25px;margin-bottom: 25px;font-size: 36px;
            span{position:absolute;bottom:0;left:calc(50% - 100px);max-width: 200px;width: 100%;height: 5px;display: block;}
        }
        .contacts-form-wrap{padding: 0 15px;
            .contacts-form{max-width: 900px;width: 100%;padding: 40px 15px 15px 15px;min-height:570px;margin: 0 auto;display: flex;align-items:flex-start;justify-content:center;}
            .contacts-form-wrap-main{max-width: 615px;width: 100%;}
            .form-title{font-size: 48px;color:#fff;padding-bottom:25px;margin-bottom: 40px;text-transform: uppercase;line-height: 55px;position:relative;
                h2{
                    span{font-weight: 700;font-size: 60px;}
                }
                &>span{position: absolute;width:calc(100% - 20px);max-width: 500px;height: 2px;left:50%;transform:translate(-50%, 0);bottom:0;}
            }
            .form-row{width: 100%;margin-bottom: 20px;
                .form-input{width: 100%;}
                input{line-height: 50px;height: 50px;width: 100%;border:none;border-radius: 4px;background-color: rgba(255, 255, 255, .8);color:#000;font-weight: 700;padding: 0 30px;font-size: 16px;transition:background-color 300ms ease, border-color 300ms ease;
                    &.error{border-color:#c70000;background-color: #e91b1b;
                        &::-webkit-input-placeholder{color:#fff;}
                        &::-moz-placeholder {color:#fff;}
                        &:-moz-placeholder {color:#fff;}
                        &:-ms-input-placeholder {color:#fff;}
                    }
                    &::-webkit-input-placeholder {color:#4f4f4f;font-family: 'Roboto', sans-serif;font-weight: 700;}
                    &::-moz-placeholder {color:#4f4f4f;font-family: 'Roboto', sans-serif;font-weight: 700;}
                    &:-moz-placeholder {color:#4f4f4f;font-family: 'Roboto', sans-serif;font-weight: 700;}
                    &:-ms-input-placeholder {color:#4f4f4f;font-family: 'Roboto', sans-serif;font-weight: 700;}
                    &:focus{background-color: rgba(255, 255, 255, 1);}
                }
                &.submit{margin-bottom: 0;
                    button{cursor:pointer;width:300px;height: 60px;line-height:60px;border-width: 2px;border-style:solid;display: block;border-radius: 35px;background-color: transparent;font-size: 18px;color:#fff;font-weight: 700;text-transform: uppercase;margin:0 auto;transition:background-color 300ms ease, border-color 300ms ease;text-align: center;
                        span{display: inline-block;}
                    }
                }
            }
            .form-row-half{display: flex;justify-content:space-between;
                .form-row{max-width: calc(50% - 10px);}
            }
        }
    }

/* /contacts */

/* footer */

    .footer{

        .mouse-paralax{
            .layer-1{top:-11px;}
            .layer-2{top:-27px;}
        }

        .footer-top-main{position: relative;z-index: 1;}
        .footer-top{padding: 90px 0 30px 0;position: relative;z-index: 1;}
        .contacts-main-title{text-align: center;font-size: 36px;font-weight: 700;color:#4f4f4f;font-family: 'FuturaPT', sans-serif;position: relative;padding-bottom: 18px;margin-bottom: 40px;
            span{display: block;position: absolute;bottom:0;left:calc(50% - 100px);height: 5px;max-width: 200px;width: 100%;}
        }
        .footer-top-wrap{text-align: center;display: flex;align-items:center;justify-content:flex-start;flex-wrap:wrap;max-width:1220px;width: 100%;margin: 0 auto;position: relative;z-index: 2;margin-bottom: -30px;
            .footer-list{width: 50%;
                ul{display: flex;justify-content:space-around;align-items:center;flex-wrap:wrap;
                    li{position: relative;width: 33.33%;
                        &:first-child{top: -50px;}
                        &:last-child{top: 50px;
                            &:after{display: none;}
                        }
                        &:after{content:'';display: block;position: absolute;width: 1px;height: 40px;background-color: #e2e2e2;top:50%;margin-top: -15px;right: 0;}
                    }
                    a{text-decoration: none;font-family: 'FuturaPT', sans-serif;color:#8d8d8d;font-weight: 700;font-size: 18px;text-transform: uppercase;transition:color 300ms ease;}
                }
                &:last-child{
                    ul{flex-direction:row-reverse;
                        li{
                            &:after{right:auto;left: 0;}
                        }
                    }
                }
            }
            .footer-list-img{display: block;padding-bottom: 10px;height: 65px;display: flex;align-items:center;
                svg{display: block;margin:0 auto;}
                &.skype{
                    svg{width: 52px;height: 53px;}
                }
                &.mail{
                    svg{width:55px;height: 37px;}
                }
                &.telefone{
                   svg{width: 51px;height: 65px;transform:rotate(90deg);}
                }
                &.vk{
                    svg{width: 59px;height: 36px;}
                }
                &.fb{
                    svg{width: 34px;height: 55px;}
                }
                &.gp{
                    svg{width: 47px;height: 47px;}
                }
                svg{fill:#8d8d8d;transition-property:fill;transition-duration:300ms;transition-timing-function:ease;}
            }
        }
        .footer-bottom{background-image:url(../images/footer-background.jpg);background-repeat: no-repeat;background-position: center top;background-size:cover;padding: 190px 0 30px 0;text-align: center;position: relative;overflow: hidden;
            .footer-bottom-wrap{font-size: 14px;color:#fff;font-family: 'FuturaPT', sans-serif;font-weight: 700;text-transform: uppercase;}
        }
    }

/* /footer */

/* mousemove-parallax */

    .mouse-parallax{position: absolute;top:0;left:0;bottom:0;width: 100%;z-index: 0;
        .parallax-layer{position: absolute;left: 0;width: 100%;overflow: hidden;
            &.layer-1{z-index: 1;}
            &.layer-2{z-index: 2;}
            span{display: block;position: absolute;top:0;width: 200%;background-repeat: repeat-x;margin-left:-50%;background-size: auto 100%;backface-visibility: hidden;}
            img{opacity: 0;}
        }
    }

/* /mousemove-parallax */

/* secret */

    .secret-fon{position: fixed;top: 0;right: 0;bottom: 0;left: 0;box-shadow:inset 0 0 0 rgba(222, 141, 249, 0);transition:box-shadow 300ms ease;pointer-events:none;z-index: 9999;background-color: transparent;}
    .secret-erotic{position: fixed;z-index:-100;left: 50%;transform:translate(-50%, 0);bottom: 0;width: 450px;pointer-events:none;
        .secret-erotic-wrap{opacity: 0;transition:opacity 300ms ease;
            &.active{opacity: 1;}
        }
    }

    body.pink{
        .secret-fon{box-shadow:inset 0 0 255px rgba(222, 141, 249, .8);backface-visibility:hidden;}
        .secret-erotic{display: block;z-index: 3;backface-visibility:hidden;}

        .background-spec{background-color:#de8df9!important;}
        .background-spec-reverse{background-color:#bd00fc!important;}
        .background-spec-hover:hover{background-color:#bd00fc!important;}
        .background-spec-reverse-hover:hover{background-color:#de8df9!important;}
        .border-spec{border-color:#de8df9!important;}
        .border-spec-reverse{border-color:#bd00fc!important;}
        .border-spec-hover:hover{border-color:#bd00fc!important;}
        .border-spec-reverse-hover:hover{border-color:#de8df9!important;}
        .color-spec{color:#de8df9!important;}
        .color-spec-reverse{color:#bd00fc!important;}
        .color-spec-hover:hover{color:#bd00fc!important;}
        .color-spec-reverse-hover:hover{color:#de8df9!important;}
        .svg-spec{fill:#de8df9!important;}
        .svg-spec-reverse{fill:#bd00fc!important;}
        .svg-spec-hover:hover{fill:#bd00fc!important;}
        .svg-spec-reverse-hover:hover{fill:#de8df9!important;}

    }

/* /secret */

/* animations */

    @keyframes topBottomMoving{
        0%{margin-top: 0px;}
        100%{margin-top: 10px;}
    }

/* /animations */