/* top-block */

    .top-block{background-image:url(../images/top-block-bg.jpg);background-repeat: no-repeat;background-position: center top;background-size:cover;position: relative;
        &:before{content:'';display: block;position: absolute;top:0;left:0;right:0;bottom:0;background-color: rgba(0, 0, 0, .3);}
        .top-block-wrap{height: 960px;display: flex;flex-direction:column;justify-content:flex-end;align-items:center;position: relative;text-align: center;}

        .top-block-main{max-width: 645px;width: 100%;
            .top-block-title{margin-bottom: 50px;
                h1{color:#fff;font-size:48px;line-height:58px;text-transform: uppercase;
                    span{color:#f98e3c;font-weight: 900;}
                }
            }
            .top-block-descript{font-size: 22px;color:#fff;position: relative;padding-bottom:8px;margin-bottom: 60px;
                .descript-line{content:'';display: block;position: absolute;left:0;bottom:0;height: 5px;width: 100%;background-color: #f98e3c;}
            }
            .top-block-button{margin-bottom: 100px;
                a{display: flex;justify-content:center;align-items:center;max-width: 645px;width: 100%;border-radius: 50px;border:2px solid #ca7333;background-color: #f98e3c;height: 78px;position:relative;color:#fff;font-weight: 700;text-decoration: none;font-size: 22px;padding: 0 85px;transition:background-color 300ms ease, border-color 300ms ease;
                    .span-button-arrow{display: block;position: absolute;top:-2px;right:-3px;width: 80px;height: 78px;border-radius: 50%;border:2px solid #fa8d3c;background-color: #d17128;transition:background-color 300ms ease, border-color 300ms ease;
                        &:before, &:after{content:'';display: block;position:absolute;left:calc(50% - 9px);top:calc(50% - 2px);width: 18px;height: 4px;background-color: #fff;transform-origin:100% 2px;}
                        &:before{transform:rotate(45deg);top:calc(50% - 1px);}
                        &:after{transform:rotate(-45deg);top:calc(50% - 3px);}
                    }
                }
            }
        }

        .top-block-footer{max-width: 430px;width: 100%;margin:0 auto 0 auto;font-size: 22px;color:#fff;margin-bottom: 100px;position: relative;
            p{line-height: 26px;
                span{font-weight: 700;color:#fa8d3c;}
            }
            .top-block-bottom-arrow{position: absolute;left:calc(50% - 15px);top:calc(100% + 8px);height: 35px;width: 30px;cursor:pointer;animation-name:topBottomMoving;animation-duration:.5s;animation-iteration-count:infinite;animation-direction:alternate;animation-timing-function: linear;
                &:hover{animation-play-state: paused;}
                .arrow-wrap{position: absolute;left:0;right:0;
                    .arrow-wrap-left, .arrow-wrap-right{content:'';display: block;position: absolute;width: 20px;height: 2px;background-color: #fff;top:15px;}
                    .arrow-wrap-left{transform-origin:100% 50%;transform:rotate(45deg);left:calc(50% - 20px);}
                    .arrow-wrap-right{transform-origin:0% 50%;transform:rotate(-45deg);left:calc(50% + 0px);}
                    &:last-child{top: 15px;}
                }
            }
        }

    }

/* /top-block */

/* services */

    .services{background-image:url(../images/services-bg.jpg);background-repeat: no-repeat;background-position: center top;padding: 300px 0 160px 0;position: relative;background-size:cover;

        .title{font-family:"FuturaPT", sans-serif;font-weight: 700;font-size: 30px;color:#fff;text-align: center;padding-bottom:15px;position: relative;margin-bottom: 17px;
            span{display: block;position: absolute;bottom: 0;left: calc(50% - 100px);width: 200px;height: 5px;background-color: #fda961;}
        }
        .title-descript{font-weight: 700;color:#fff;font-size: 18px;text-align: center;max-width: 370px;width: 100%;margin:0 auto 50px auto;line-height: 22px;}

        .services-items-wrap{display: flex;flex-wrap:wrap;align-items:flex-start;justify-content:center;
            .services-item{text-align: center;padding: 55px 40px 45px 40px;position: relative;margin: 0 5px;
                &:before{content:'';display: block;position: absolute;left: 0;top: 0;width: 100%;height: 100%;z-index: 1;border-radius: 5px;border-width: 1px;background-color: rgba(12, 67, 112, .65);border-color:#0e5166;box-shadow: 0 0 40px 0 rgba(0, 182, 244, .35);opacity:0;transition:opacity 300ms ease;}
                .services-item-content{position: relative;z-index: 2;text-align: center;}
                &:hover{
                    &:before{opacity: 1;}
                }
                .services-item-desc{position: relative;padding-bottom: 15px;margin-bottom: 13px;transform:translateZ(0px);
                    span{display: block;position: absolute;bottom:0px;width: 52px;height: 2px;background-color: #fa8d3c;left:calc(50% - 26px);}
                }
                .services-title{color:#fff;font-size: 24px;font-weight: 700;text-transform: uppercase;margin-bottom: 40px;}
                .services-image{height: 260px;position: relative;display:flex;align-items:center;justify-content:center;
                    .services-circle{position: absolute;top:calc(50% - 100px);left:calc(50% - 100px);width: 200px;height: 200px;border-radius: 50%;background-color: #fda961;}
                    img{position: relative;z-index: 1;}
                }

                .services-item-button{position: relative;z-index: 1;
                    .button{max-width: 250px;width: 100%;height: 50px;display: flex;justify-content:center;align-items:center;border:3px solid #ffffff;border-radius: 50px;text-decoration: none;color:#fff;font-weight: 700;font-size: 14px;text-transform: uppercase;margin: 0 auto;transition:border-color 300ms ease;
                        &:hover{border-color:#f98e3c;}
                    }
                }
            }
        }

    }

/* /services */

/* contacts */

    .contacts{position: relative;background-image:url(../images/cantacts-background.jpg);background-repeat: no-repeat;background-size: cover;background-position: center top;padding: 220px 0 170px 0;
        .contacts-descript{max-width: 720px;width: 100%;margin:0 auto 18px auto;padding: 0  10px 18px 10px;position: relative;font-size: 24px;font-weight: 700;color:#fff;text-align: center;line-height: 28px;
            span{position: absolute;max-width: 480px;width: calc(100% - 20px);height: 5px;background-color: #898989;left:50%;transform:translate(-50%, 0);bottom: 0;}
        }
        .contacts-arrow{margin-bottom: 40px;
            .mega-arrow{
                .mega-arrow-wrap span{background-color: #fff;}
            }
        }
        .contacts-main-title{text-align: center;position: relative;font-family: 'FuturaPT', sans-serif;color:#fff;font-weight: 700;padding-bottom: 25px;margin-bottom: 25px;font-size: 36px;
            span{position:absolute;bottom:0;left:calc(50% - 100px);max-width: 200px;width: 100%;height: 5px;display: block;}
        }
        .contacts-form-wrap{padding: 0 15px;
            .contacts-form{max-width: 900px;width: 100%;padding: 40px 15px 15px 15px;min-height:570px;background-color:#e8e8e8;margin: 0 auto;display: flex;align-items:flex-start;justify-content:center;}
            .contacts-form-wrap-main{max-width: 615px;width: 100%;}
            .form-title{font-size: 48px;color:#fff;margin-bottom: 25px;text-transform: uppercase;line-height: 55px;
                span{font-weight: 700;font-size: 60px;}
            }
            .form-row{max-width: 300px;width: 100%;margin-bottom: 20px;
                .form-input{width: 100%;}
                input{line-height: 50px;height: 50px;width: 100%;border:2px solid #898989;border-radius: 4px;background-color: #a2a2a2;color:#fff;padding: 0 30px;font-size: 16px;transition:background-color 300ms ease, border-color 300ms ease;
                    &.error{border-color:#c70000;background-color: #e91b1b;}
                    &::-webkit-input-placeholder {color:#fff;font-family: 'Roboto', sans-serif;}
                    &:-moz-placeholder {color:#fff;font-family: 'Roboto', sans-serif;}
                    &::-moz-placeholder {color:#fff;font-family: 'Roboto', sans-serif;}
                    &:-ms-input-placeholder {color:#fff;font-family: 'Roboto', sans-serif;}
                }
                &.submit{margin-bottom: 0;
                    button{width: 100%;height: 60px;border-width: 2px;border-style:solid;display: flex;align-items:center;justify-content:center;border-radius: 5px;background-color: transparent;font-size: 18px;color:#fff;font-weight: 700;text-transform: uppercase;transition:background-color 300ms ease, border-color 300ms ease;}
                }
            }
        }
    }

/* /contacts */

/* footer */

    .footer{
        .footer-top{text-align: center;display: flex;align-items:center;justify-content:flex-start;flex-wrap:wrap;max-width:1220px;width: 100%;margin: 0 auto;position: relative;z-index: 2;margin-bottom: -30px;
            .footer-list{width: 50%;
                ul{display: flex;justify-content:space-around;align-items:center;flex-wrap:wrap;
                    li{position: relative;width: 33.33%;
                        &:first-child{top: -50px;}
                        &:last-child{top: 50px;
                            &:after{display: none;}
                        }
                        &:after{content:'';display: block;position: absolute;width: 1px;height: 40px;background-color: #e2e2e2;top:50%;margin-top: -15px;right: 0;}
                    }
                    a{text-decoration: none;font-family: 'FuturaPT', sans-serif;color:#8d8d8d;font-weight: 700;font-size: 18px;text-transform: uppercase;transition:color 300ms ease;}
                }
                &:last-child{
                    ul{flex-direction:row-reverse;
                        li{
                            &:after{right:auto;left: 0;}
                        }
                    }
                }
            }
            .footer-list-img{display: block;padding-bottom: 10px;height: 65px;display: flex;align-items:center;
                svg{display: block;margin:0 auto;}
                &.skype{
                    svg{width: 52px;height: 53px;}
                }
                &.mail{
                    svg{width:55px;height: 37px;}
                }
                &.telefone{
                   svg{width: 51px;height: 65px;transform:rotate(90deg);}
                }
                &.vk{
                    svg{width: 59px;height: 36px;}
                }
                &.fb{
                    svg{width: 34px;height: 55px;}
                }
                &.gp{
                    svg{width: 47px;height: 47px;}
                }
                svg{fill:#8d8d8d;transition-property:fill;transition-duration:300ms;transition-timing-function:ease;}
            }
        }
        .footer-bottom{background-image:url(../images/footer-background.jpg);background-repeat: no-repeat;background-position: center top;background-size:cover;padding: 190px 0 30px 0;text-align: center;position: relative;overflow: hidden;
            .footer-bottom-wrap{font-size: 14px;color:#fff;font-family: 'FuturaPT', sans-serif;font-weight: 700;text-transform: uppercase;}
        }
    }

/* /footer */

/* animations */

    @keyframes topBottomMoving{
        0%{margin-top: 0px;}
        100%{margin-top: 10px;}
    }

/* /animations */