/* top-block */

    .top-block{background-image:url(../images/top-block-bg.jpg);background-repeat: no-repeat;background-position: center top;background-size:cover;position: relative;
        &:before{content:'';display: block;position: absolute;top:0;left:0;right:0;bottom:0;background-color: rgba(0, 0, 0, .3);}
        .top-block-wrap{height: 960px;display: flex;flex-direction:column;justify-content:flex-end;align-items:center;position: relative;}
    }

/* /top-block */