/* helping adds*/

.clear{clear:both;font-size:1px;line-height:1px;height:0;overflow:hidden;}
.cfix:after{content: '';display: block;height: 0;font-size: 1px;line-height: 1px;overflow: hidden;clear: both;}
.juster{display:inline-block;width:100%;height:0;overflow:hidden;}
.jfix-after:after{content: '';display: inline-block;width: 100%;height: 0;overflow: hidden;}
.vfix{height:100%;width:0px;display:inline-block;vertical-align:middle;}
.vfix-before:before{content: '';height: 100%;width: 0;display: inline-block;vertical-align: middle;}

.hidden-block{position:absolute;left:-99999em;top:-99999em;}

/* /helping adds*/

/* base styles*/

*,*:before, *:after{box-sizing:border-box;outline:none;}
html{height:100%;}

body{min-height:100%;width:100%;min-width:320px;background:#fff;color:#3d3d3d;position:relative;font-size: 16px;line-height: 1;font-family: 'Roboto', sans-serif;}

img{vertical-align:bottom;border:0;max-width:100%;}

/* /base styles */

/* wraps styling*/

.mbox{max-width:1024px;width:100%;margin:0 auto;position:relative;z-index:1;}
.mbox:after{content:"";clear:both;font-size:1px;line-height:1px;height:0;overflow:hidden;display:block;}

/* /wraps styling*/

.global-wrapper{overflow: hidden;}

.footer_placeholder{height: 200px;}
.footer{position:absolute;bottom:0;left:0;width:100%;z-index:2;overflow:hidden;}

::-webkit-input-placeholder {color:#212121;}
:-moz-placeholder {color:#212121;}
::-moz-placeholder {color:#212121;}
:-ms-input-placeholder {color:#212121;}

/*End Layout*/

/* trianges */

    .trianges{position: absolute;width: 0;height: 0;left: calc(50% - 960px);border-width: 160px 960px 0 960px;border-style:solid;pointer-events:none;
        &.trianges-bottom{bottom:0;}
        &.trianges-top{top:0;}
        &.not-center{border-color:transparent #fff;}
        &.center{border-color:#fff transparent transparent transparent;}
    }

/* /trianges */

.color-spec{color: #fa8d3c;text-shadow:0 0 2px rgba(0, 0, 0, .35);}
.background-spec{background-color: #fa8d3c;}
.border-spec{border-color: #fa8d3c !important;}
.background-spec-hover:hover{background-color: #fa8d3c !important;}