<section class="contacts">

    <div class="trianges trianges-top center"></div>

    <div class="contacts-wrap">

        <div class="contacts-descript">
            <p>Теперь, если остались вопросы - свяжитесь с менеджером, он ответит на интересующие Вас вопросы</p>
            <span></span>
        </div>

        <div class="contacts-arrow">
            <div class="mega-arrow">
                <div class="mega-arrow-wrap">
                    <span class="item-1"></span>
                    <span class="item-2"></span>
                    <span class="item-3"></span>
                    <span class="item-4"></span>
                    <span class="item-5"></span>
                    <span class="item-6"></span>
                </div>
            </div>
        </div>

        <div class="contacts-form-wrap">
            <form class="contacts-form">
                <div class="contacts-form-wrap">
                    <div class="contacts-form-wrap-main">
                        <div class="form-title">
                            <h2><span>Заполните форму,</span> и мы вам перезвоним!</h2>
                            <span class="background-spec"></span>
                        </div>
                        <div class="form-row">
                            <div class="form-input">
                                <input type="text" name="your_name" required="required" placeholder="Имя *" />
                            </div>
                        </div>
                        <div class="form-row-half">
                            <div class="form-row">
                                <div class="form-input">
                                    <input type="text" name="your_tel_skype" required="required" placeholder="Телефон или Skype *" />
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-input">
                                    <input type="email" name="your_email" placeholder="E-Mail" />
                                </div>
                            </div>
                        </div>
                        <div class="form-row submit">
                            <button type="submit" class="background-spec-hover border-spec border-spec-hover">
                                <span>ОТПРАВИТЬ</span>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>

    <div class="trianges trianges-bottom not-center"></div>

</section>