<!-- FOOTER -->
<div class="footer_placeholder"></div>
<footer class="footer">

    <div class="footer-top">
        <div class="footer-list">
            <ul>
                <li>
                    <a href="skype:SHEEEP_FISH">
                        <span class="footer-list-img">
                            <img src="images/footer-list-skype.png" alt="" />
                        </span>
                        <span class="footer-list-text color-spec-reverse-hover">SHEEEP_FISH</span>
                    </a>
                </li>
                <li>
                    <a href="mailto:hr@sheep.fish">
                        <span class="footer-list-img">
                            <img src="images/footer-list-mail.png" alt="" />
                        </span>
                        <span class="footer-list-text color-spec-reverse-hover">hr@sheep.fish</span>
                    </a>
                </li>
                <li>
                    <a href="callto:+30983555575">
                        <span class="footer-list-img">
                            <img src="images/footer-list-telefone.png" alt="" />
                        </span>
                        <span class="footer-list-text color-spec-reverse-hover">+3 (098) 355 55 75</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer-list">
            <ul>
                <li>
                    <a href="#">
                        <span class="footer-list-img">
                            <img src="images/footer-list-vk.png" alt="" />
                        </span>
                        <span class="footer-list-text">VKONTAKTE</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="footer-list-img">
                            <img src="images/footer-list-fb.png" alt="">
                        </span>
                        <span class="footer-list-text">facebook</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="footer-list-img">
                            <img src="images/footer-list-gp.png" alt="">
                        </span>
                        <span class="footer-list-text">GOOGLE</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="trianges trianges-bottom not-center"></div>

        <div class="footer-bottom-wrap">
            <h2>© Sheep.fish studio 2016</h2>
        </div>

    </div>

</footer>
<!-- FOOTER -->

<!-- SCRIPTS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script type="text/javascript" src="js/validate_script.js" ></script>
<script type="text/javascript" src="js/main.js" ></script>
<!-- /SCRIPTS -->
