<!-- HEADER -->
<header>
    <div class="conteiner">
        <div class="mbox2">
            <div class="logo-block">
                <img src="images/logo.png" alt="">
            </div>

            <nav>                
                <ul class="cfix">
                    <li>
                        <a href="#">Главная <span class="background-spec" ></span> </a>
                    </li>
                    <li>
                        <a href="#">ПОРТФОЛИО <span class="background-spec" ></span> </a>
                    </li>
                    <li>
                        <a href="#">УСЛУГИ <span class="background-spec" ></span> </a>
                    </li>
                    <li>
                        <a href="#">ОТЗЫВЫ <span class="background-spec" ></span> </a>
                    </li>
                    <li>
                        <a href="#">Партнеры <span class="background-spec" ></span> </a>
                    </li>
                    <li>
                        <a href="#">КОНТАКТЫ <span class="background-spec" ></span> </a>
                    </li>
                </ul>
            </nav>
            <div class="but-block">
                <a href="#" class="button-header border-spec border-spec-hover background-spec-hover">перезвонить мне</a>
                <a href="callto:+30983555575" class="call-back-me ">+3 (098) 355 55 75</a>
            </div>
            <div class="butterbrod">
                <div class="convert-f">
                    <span class=""></span>
                    <span class=""></span>
                    <span class=""></span>
                </div>                
            </div>
        </div>
    </div>
    
</header>
<!-- /HEADER -->

