<section class="partners" >
    <div class="title-text">
        <div class="title" id="partners">
            <h2>Партнеры <span class="background-spec"></span></h2>
        </div>
    </div>
    <div class="partners_slider">
        <div class="item">
            <a href="#" target="_blank">
                <span class="item-wrap">
                    <img src="images/partners-item-1.png" alt="">
                </span>
            </a>
        </div>
        <div class="item">
            <a href="#" target="_blank">
                <span class="item-wrap">
                    <img src="images/partners-item-2.png" alt="">
                </span>
            </a>
        </div>
        <div class="item">
            <a href="#" target="_blank">
                <span class="item-wrap">
                    <img src="images/partners-item-3.png" alt="">
                </span>
            </a>
        </div>
        <div class="item">
            <a href="#" target="_blank">
                <span class="item-wrap">
                    <img src="images/partners-item-4.png" alt="">
                </span>
            </a>
        </div>
        <div class="item">
            <a href="#" target="_blank">
                <span class="item-wrap">
                    <img src="images/partners-item-5.png" alt="">
                </span>
            </a>
        </div>
        <div class="item">
            <a href="#" target="_blank">
                <span class="item-wrap">
                    <img src="images/partners-item-1.png" alt="">
                </span>
            </a>
        </div>
        <div class="item">
            <a href="#" target="_blank">
                <span class="item-wrap">
                    <img src="images/services-img4.png" alt="">
                </span>
            </a>
        </div>
    </div>

</section>