<section class="portfolio" id="portfolio">
    <div class="title-text">
        <div class="title">
            <h2>Портфолио <span class="background-spec"></span></h2>
        </div>
        <div class="title-subtitle">
            <p>Решения для разных видов бизнесса, которые Мы разработали</p>
        </div>
    </div>
    <div class="portfolio-wrap">
        <!-- function portfolioShowMore() -->
        <div class="item" data-id="1">
            <a href="#">
                <div class="item-img">
                    <img src="images/item-img-1.png" alt="">
                </div>
                <div class="item-text">
                    <div class="item-text-wrap border-spec">
                        <div class="item-type color-spec"><span>- Landing page -</span></div>
                        <div class="item-name">
                            <h3>CHEESE <b>studio production</b></h3>
                            <span class="background-spec"></span>
                        </div>
                        <div class="item-desc">
                            <p>Съемка профессиональных видеороликов «под ключ»</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="item" data-id="2">
            <a href="#">
                <div class="item-img">
                    <img src="images/item-img-2.png" alt="">
                </div>
                <div class="item-text">
                    <div class="item-text-wrap border-spec">
                        <div class="item-type color-spec"><span>- Landing page -</span></div>
                        <div class="item-name">
                            <h3>FISH EXPRESS</h3>
                            <span class="background-spec"></span>
                        </div>
                        <div class="item-desc">
                            <p>Доставка рыбы <br>в любую точку Росcии</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="item" data-id="3">
            <a href="#">
                <div class="item-img">
                    <img src="images/item-img-3.png" alt="">
                </div>
                <div class="item-text">
                    <div class="item-text-wrap border-spec">
                        <div class="item-type color-spec"><span>- Сайт -</span></div>
                        <div class="item-name">
                            <h3>LUCKY CATS</h3>
                            <span class="background-spec"></span>
                        </div>
                        <div class="item-desc">
                            <p>Уникальные мебли для кошек</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="item" data-id="4">
            <a href="#">
                <div class="item-img">
                    <img src="images/item-img-4.png" alt="">
                </div>
                <div class="item-text">
                    <div class="item-text-wrap border-spec">
                        <div class="item-type color-spec"><span>- Landing page -</span></div>
                        <div class="item-name">
                            <h3>UBER</h3>
                            <span class="background-spec"></span>
                        </div>
                        <div class="item-desc">
                            <p>Лучшие вакансии для таксистов</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="item" data-id="5">
            <a href="#">
                <div class="item-img">
                    <img src="images/item-img-5.png" alt="">
                </div>
                <div class="item-text">
                    <div class="item-text-wrap border-spec">
                        <div class="item-type color-spec"><span>- Landing page -</span></div>
                        <div class="item-name">
                            <h3>IMPEX</h3>
                            <span class="background-spec"></span>
                        </div>
                        <div class="item-desc">
                            <p>Съемка профессиональных видеороликов «под ключ»</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="item" data-id="6">
            <a href="#">
                <div class="item-img">
                    <img src="images/item-img-6.png" alt="">
                </div>
                <div class="item-text">
                    <div class="item-text-wrap border-spec">
                        <div class="item-type color-spec"><span>- Landing page -</span></div>
                        <div class="item-name">
                            <h3>SHEEPFISH</h3>
                            <span class="background-spec"></span>
                        </div>
                        <div class="item-desc">
                            <p>Разработка landing page под ключ</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="item" data-id="7">
            <a href="#">
                <div class="item-img">
                    <img src="images/item-img-7.png" alt="">
                </div>
                <div class="item-text">
                    <div class="item-text-wrap border-spec">
                        <div class="item-type color-spec"><span>- Landing page -</span></div>
                        <div class="item-name">
                            <h3>ЖарРа</h3>
                            <span class="background-spec"></span>
                        </div>
                        <div class="item-desc">
                            <p>Стрип-клуб</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="item" data-id="8">
            <a href="#">
                <div class="item-img">
                    <img src="images/item-img-8.png" alt="">
                </div>
                <div class="item-text">
                    <div class="item-text-wrap border-spec">
                        <div class="item-type color-spec"><span>- Landing page -</span></div>
                        <div class="item-name">
                            <h3>Royal Bonuse</h3>
                            <span class="background-spec"></span>
                        </div>
                        <div class="item-desc">
                            <p>Казино</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="item" data-id="9">
            <a href="#">
                <div class="item-img">
                    <img src="images/item-img-9.png" alt="">
                </div>
                <div class="item-text">
                    <div class="item-text-wrap border-spec">
                        <div class="item-type color-spec"><span>- Landing page -</span></div>
                        <div class="item-name">
                            <h3>Key to Way</h3>
                            <span class="background-spec"></span>
                        </div>
                        <div class="item-desc">
                            <p>Такси в Москве</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="item" data-id="10">
            <a href="#">
                <div class="item-img">
                    <img src="images/item-img-10.png" alt="">
                </div>
                <div class="item-text">
                    <div class="item-text-wrap border-spec">
                        <div class="item-type color-spec"><span>- Landing page -</span></div>
                        <div class="item-name">
                            <h3>GOLDEN MARROW</h3>
                            <span class="background-spec"></span>
                        </div>
                        <div class="item-desc">
                            <p>Нейминговая компания</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="item" data-id="11">
            <a href="#">
                <div class="item-img">
                    <img src="images/item-img-11.png" alt="">
                </div>
                <div class="item-text">
                    <div class="item-text-wrap border-spec">
                        <div class="item-type color-spec"><span>- Сайт -</span></div>
                        <div class="item-name">
                            <h3>СТЕКЛОМОНТАЖ</h3>
                            <span class="background-spec"></span>
                        </div>
                        <div class="item-desc">
                            <p>Панорамное остекление домов</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="item" data-id="12">
            <a href="#">
                <div class="item-img">
                    <img src="images/item-img-12.png" alt="">
                </div>
                <div class="item-text">
                    <div class="item-text-wrap border-spec">
                        <div class="item-type color-spec"><span>- Landing page -</span></div>
                        <div class="item-name">
                            <h3>GREEN WALL</h3>
                            <span class="background-spec"></span>
                        </div>
                        <div class="item-desc">
                            <p>Фитостены</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="item" data-id="13">
            <a href="#">
                <div class="item-img">
                    <img src="images/item-img-13.png" alt="">
                </div>
                <div class="item-text">
                    <div class="item-text-wrap border-spec">
                        <div class="item-type color-spec"><span>- Landing page -</span></div>
                        <div class="item-name">
                            <h3>Асфальт мастер</h3>
                            <span class="background-spec"></span>
                        </div>
                        <div class="item-desc">
                            <p>Укладка холодного асфальта</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="item" data-id="14">
            <a href="#">
                <div class="item-img">
                    <img src="images/item-img-14.png" alt="">
                </div>
                <div class="item-text">
                    <div class="item-text-wrap border-spec">
                        <div class="item-type color-spec"><span>- Landing page -</span></div>
                        <div class="item-name">
                            <h3>ASIA</h3>
                            <span class="background-spec"></span>
                        </div>
                        <div class="item-desc">
                            <p>Ваш логистически оператор</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="item" data-id="15">
            <a href="#">
                <div class="item-img">
                    <img src="images/item-img-15.png" alt="">
                </div>
                <div class="item-text">
                    <div class="item-text-wrap border-spec">
                        <div class="item-type color-spec"><span>- Сайт -</span></div>
                        <div class="item-name">
                            <h3>Уфимская служба<br>по ремонту авто</h3>
                            <span class="background-spec"></span>
                        </div>
                        <div class="item-desc">
                            <p>Кузовной ремонт</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="item" data-id="16">
            <a href="#">
                <div class="item-img">
                    <img src="images/item-img-16.png" alt="">
                </div>
                <div class="item-text">
                    <div class="item-text-wrap border-spec">
                        <div class="item-type color-spec"><span>- Landing page -</span></div>
                        <div class="item-name">
                            <h3>4D STUDIO</h3>
                            <span class="background-spec"></span>
                        </div>
                        <div class="item-desc">
                            <p>Дизайн интерьера</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="button-show-more">
            <div class="button-show-more-wrap">
                <div class="button-show-text">
                    <p>Это только часть...</p>
                    <div class="ul-wrap">
                        <ul><li class="background-spec"></li><li class="background-spec"></li><li class="background-spec"></li><li class="background-spec"></li><li class="background-spec"></li><li class="background-spec"></li><li class="background-spec"></li><li class="background-spec"></li><li class="background-spec"></li><li class="background-spec"></li><li class="background-spec"></li><li class="background-spec"></li><li class="background-spec"></li><li class="background-spec"></li><li class="background-spec"></li><li class="background-spec"></li>
                        </ul>
                        <ul><li class="background-spec"></li><li class="background-spec"></li><li class="background-spec"></li><li class="background-spec"></li><li class="background-spec"></li><li class="background-spec"></li><li class="background-spec"></li><li class="background-spec"></li><li class="background-spec"></li><li class="background-spec"></li><li class="background-spec"></li><li class="background-spec"></li><li class="background-spec"></li><li class="background-spec"></li><li class="background-spec"></li><li class="background-spec"></li>
                        </ul>
                    </div>
                </div>
                <button class="border-spec background-spec-hover">
                    <b>Смотрите дальше</b>
                    <strong>
                        <span class="background-spec"></span>
                        <span class="background-spec"></span>
                    </strong>
                </button>
            </div>
        </div>
    </div>
    <div class="trianges trianges-bottom center"></div>
</section>