<section class="portfolio" >
    <div class="title-text">
        <div class="title" id="portfolio">
            <h2>Портфолио <span class="background-spec"></span></h2>
        </div>
        <div class="title-subtitle">
            <p>Решения для разных видов бизнесса, которые Мы разработали</p>
        </div>
    </div>
    <div class="portfolio-wrap">
        <!-- function portfolioShowMore() -->
        <div class="item" data-id="1">
            <a href="#">
                <div class="item-img">
                    <img src="images/item-img-1.png" alt="">
                </div>
                <div class="item-text">
                    <div class="item-text-wrap border-spec">
                        <div class="item-type color-spec"><span>- Landing page -</span></div>
                        <div class="item-name">
                            <h3>FISH EXPRESS</h3>
                            <span class="background-spec"></span>
                        </div>
                        <div class="item-desc">
                            <p>Доставка рыбы <br>в любую точку Росcии</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="item" data-id="2">
            <a href="#">
                <div class="item-img">
                    <img src="images/item-img-2.png" alt="">
                </div>
                <div class="item-text">
                    <div class="item-text-wrap border-spec">
                        <div class="item-type color-spec"><span>- Landing page -</span></div>
                        <div class="item-name">
                            <h3>FISH EXPRESS</h3>
                            <span class="background-spec"></span>
                        </div>
                        <div class="item-desc">
                            <p>Доставка рыбы <br>в любую точку Росcии</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="item" data-id="3">
            <a href="#">
                <div class="item-img">
                    <img src="images/item-img-3.png" alt="">
                </div>
                <div class="item-text">
                    <div class="item-text-wrap border-spec">
                        <div class="item-type color-spec"><span>- Landing page -</span></div>
                        <div class="item-name">
                            <h3>FISH EXPRESS</h3>
                            <span class="background-spec"></span>
                        </div>
                        <div class="item-desc">
                            <p>Доставка рыбы <br>в любую точку Росcии</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="item" data-id="4">
            <a href="#">
                <div class="item-img">
                    <img src="images/item-img-4.png" alt="">
                </div>
                <div class="item-text">
                    <div class="item-text-wrap border-spec">
                        <div class="item-type color-spec"><span>- Landing page -</span></div>
                        <div class="item-name">
                            <h3>Lorem ipsum dolor sit amet, consectetur.</h3>
                            <span class="background-spec"></span>
                        </div>
                        <div class="item-desc">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem iure blanditiis, rerum corrupti nam explicabo, et autem minima. Voluptates asperiores totam maiores saepe dolore. Inventore officiis, labore, natus magnam soluta eum! Voluptatibus molestiae quos, officiis quis sunt omnis, commodi corporis.</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="item" data-id="5">
            <a href="#">
                <div class="item-img">
                    <img src="images/item-img-1.png" alt="">
                </div>
                <div class="item-text">
                    <div class="item-text-wrap border-spec">
                        <div class="item-type color-spec"><span>- Landing page -</span></div>
                        <div class="item-name">
                            <h3>FISH EXPRESS</h3>
                            <span class="background-spec"></span>
                        </div>
                        <div class="item-desc">
                            <p>Доставка рыбы <br>в любую точку Росcии</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="item" data-id="6">
            <a href="#">
                <div class="item-img">
                    <img src="images/item-img-2.png" alt="">
                </div>
                <div class="item-text">
                    <div class="item-text-wrap border-spec">
                        <div class="item-type color-spec"><span>- Landing page -</span></div>
                        <div class="item-name">
                            <h3>FISH EXPRESS</h3>
                            <span class="background-spec"></span>
                        </div>
                        <div class="item-desc">
                            <p>Доставка рыбы <br>в любую точку Росcии</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="item" data-id="7">
            <a href="#">
                <div class="item-img">
                    <img src="images/item-img-3.png" alt="">
                </div>
                <div class="item-text">
                    <div class="item-text-wrap border-spec">
                        <div class="item-type color-spec"><span>- Landing page -</span></div>
                        <div class="item-name">
                            <h3>FISH EXPRESS</h3>
                            <span class="background-spec"></span>
                        </div>
                        <div class="item-desc">
                            <p>Доставка рыбы <br>в любую точку Росcии</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="item" data-id="8">
            <a href="#">
                <div class="item-img">
                    <img src="images/item-img-4.png" alt="">
                </div>
                <div class="item-text">
                    <div class="item-text-wrap border-spec">
                        <div class="item-type color-spec"><span>- Landing page -</span></div>
                        <div class="item-name">
                            <h3>Lorem ipsum dolor sit amet, consectetur.</h3>
                            <span class="background-spec"></span>
                        </div>
                        <div class="item-desc">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem iure blanditiis, rerum corrupti nam explicabo, et autem minima. Voluptates asperiores totam maiores saepe dolore. Inventore officiis, labore, natus magnam soluta eum! Voluptatibus molestiae quos, officiis quis sunt omnis, commodi corporis.</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="button-show-more">
            <div class="button-show-more-wrap">
                <div class="button-show-text">
                    <p>Это только часть...</p>
                    <ul><li class="background-spec"></li><li class="background-spec"></li><li class="background-spec"></li><li class="background-spec"></li><li class="background-spec"></li><li class="background-spec"></li><li class="background-spec"></li><li class="background-spec"></li><li class="background-spec"></li><li class="background-spec"></li><li class="background-spec"></li><li class="background-spec"></li><li class="background-spec"></li><li class="background-spec"></li><li class="background-spec"></li><li class="background-spec"></li><li class="background-spec"></li><li class="background-spec"></li><li class="background-spec"></li><li class="background-spec"></li><li class="background-spec"></li><li class="background-spec"></li><li class="background-spec"></li><li class="background-spec"></li><li class="background-spec"></li><li class="background-spec"></li><li class="background-spec"></li>
                    </ul>
                </div>
                <button class="border-spec background-spec-hover">
                    <b>Смотрите дальше</b>
                    <strong>
                        <span class="background-spec"></span>
                        <span class="background-spec"></span>
                    </strong>
                </button>
            </div>
        </div>
    </div>
    <div class="trianges trianges-bottom center"></div>
</section>