<section class="portfolio" id="portfolio">
    <div class="title-text">
        <div class="title">
            <h2>Портфолио <span class="background-spec"></span></h2>
        </div>
        <div class="title-subtitle">
            <p>Решения для разных видов бизнесса, которые Мы разработали</p>
        </div>
    </div>
    <div class="portfolio-wrap">
        <div class="item">
            <a href="#">
                <div class="item-img">
                    <img src="images/item-img-1.png" alt="">
                </div>
                <div class="item-text">
                    <div class="item-text-wrap border-spec">
                        <div class="item-type color-spec"><span>- Landing page -</span></div>
                        <div class="item-name">
                            <h3>FISH EXPRESS</h3>
                            <span class="background-spec"></span>
                        </div>
                        <div class="item-desc">
                            <p>Доставка рыбы в любую точку Росcии</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="item">
            <a href="#">
                <div class="item-img">
                    <img src="images/item-img-2.png" alt="">
                </div>
                <div class="item-text">
                    <div class="item-text-wrap border-spec">
                        <div class="item-type color-spec"><span>- Landing page -</span></div>
                        <div class="item-name">
                            <h3>FISH EXPRESS</h3>
                            <span class="background-spec"></span>
                        </div>
                        <div class="item-desc">
                            <p>Доставка рыбы в любую точку Росcии</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="item">
            <a href="#">
                <div class="item-img">
                    <img src="images/item-img-3.png" alt="">
                </div>
                <div class="item-text">
                    <div class="item-text-wrap border-spec">
                        <div class="item-type color-spec"><span>- Landing page -</span></div>
                        <div class="item-name">
                            <h3>FISH EXPRESS</h3>
                            <span class="background-spec"></span>
                        </div>
                        <div class="item-desc">
                            <p>Доставка рыбы в любую точку Росcии</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="item">
            <a href="#">
                <div class="item-img">
                    <img src="images/item-img-4.png" alt="">
                </div>
                <div class="item-text">
                    <div class="item-text-wrap border-spec">
                        <div class="item-type color-spec"><span>- Landing page -</span></div>
                        <div class="item-name">
                            <h3>FISH EXPRESS</h3>
                            <span class="background-spec"></span>
                        </div>
                        <div class="item-desc">
                            <p>Доставка рыбы в любую точку Росcии</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

</section>