<section class="reviews" id="reviews">
    <div class="title-text">
        <div class="title-subtitle color-spec">
            <p>Еще сомневаетесь ? </p>
            <p>Посмотрите что о нас говорят клиенты</p>
            <span class="background-spec"></span>
        </div>
        <div class="mega-arrow">
            <div class="mega-arrow-wrap">
                <span class="background-spec item-1"></span>
                <span class="background-spec item-2"></span>
                <span class="background-spec item-3"></span>
                <span class="background-spec item-4"></span>
                <span class="background-spec item-5"></span>
                <span class="background-spec item-6"></span>
            </div>
        </div>
        <div class="title">
            <h2>Отзывы <span class="background-spec"></span></h2>
        </div>
    </div>
    <div class="reviews-slider">
        <div class="item">
            <div class="item-wrap">
                <div class="social">
                    <ul>
                        <li><a href="#"><img src="images/reviews-soc-img-1.png" alt="" target="_blank"></a></li>
                        <li><a href="#"><img src="images/reviews-soc-img-2.png" alt="" target="_blank"></a></li>
                        <li><a href="#"><img src="images/reviews-soc-img-3.png" alt="" target="_blank"></a></li>
                        <li><a href="#"><img src="images/reviews-soc-img-4.png" alt="" target="_blank"></a></li>
                    </ul>
                </div>
                <div class="person">
                    <div class="person-img"><img src="images/person-img-1.jpg" alt=""></div>
                    <div class="person-name">
                        <p>Петя Петров</p>
                        <span class="background-spec"></span>
                    </div>
                    <div class="person-subname">
                        <p>Офис менеджер “Студия-Дизайна”</p>
                    </div>
                </div>
                <div class="description cut-text" data-cut="180">
                    <p>«Это происходит нечасто, однако меня сильно раздражает, когда люди выдают результаты коллективной работы за свои собственные. </p>
                </div>
                <div class="social-button">
                    <a href="#" class="border-spec-hover">
                        <span class="color-spec">Читать полностью...</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="item-wrap">
                <div class="social">
                    <ul>
                        <li><a href="#"><img src="images/reviews-soc-img-1.png" alt="" target="_blank"></a></li>
                        <li><a href="#"><img src="images/reviews-soc-img-2.png" alt="" target="_blank"></a></li>
                        <li><a href="#"><img src="images/reviews-soc-img-3.png" alt="" target="_blank"></a></li>
                        <li><a href="#"><img src="images/reviews-soc-img-4.png" alt="" target="_blank"></a></li>
                    </ul>
                </div>
                <div class="person">
                    <div class="person-img"><img src="images/person-img-1.jpg" alt=""></div>
                    <div class="person-name">
                        <p>Петя Петров</p>
                        <span class="background-spec"></span>
                    </div>
                    <div class="person-subname">
                        <p>Офис менеджер “Студия-Дизайна”</p>
                    </div>
                </div>
                <div class="description cut-text" data-cut="180">
                    <p>«Это происходит нечасто, однако меня сильно раздражает, когда люди выдают результаты коллективной работы за свои собственные. Мне хочется, чтобы каждый сотрудник, внесший свой вклад в общее дело, получал по заслугам».«Это происходит нечасто, однако меня сильно раздражает, когда люди выдают результаты коллективной работы за свои собственные. Мне хочется, чтобы каждый сотрудник, внесший свой вклад в общее дело, получал по заслугам».</p>
                </div>
                <div class="social-button">
                    <a href="#" class="border-spec-hover">
                        <span class="color-spec">Читать полностью...</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="item-wrap">
                <div class="social">
                    <ul>
                        <li><a href="#"><img src="images/reviews-soc-img-1.png" alt="" target="_blank"></a></li>
                        <li><a href="#"><img src="images/reviews-soc-img-2.png" alt="" target="_blank"></a></li>
                        <li><a href="#"><img src="images/reviews-soc-img-3.png" alt="" target="_blank"></a></li>
                        <li><a href="#"><img src="images/reviews-soc-img-4.png" alt="" target="_blank"></a></li>
                    </ul>
                </div>
                <div class="person">
                    <div class="person-img"><img src="images/person-img-1.jpg" alt=""></div>
                    <div class="person-name">
                        <p>Петя Петров</p>
                        <span class="background-spec"></span>
                    </div>
                    <div class="person-subname">
                        <p>Офис менеджер “Студия-Дизайна”</p>
                    </div>
                </div>
                <div class="description cut-text" data-cut="180">
                    <p>«Это происходит нечасто, однако меня сильно раздражает, когда люди выдают результаты коллективной работы за свои собственные. Мне хочется, чтобы каждый сотрудник, внесший свой вклад в общее дело, получал по заслугам».</p>
                </div>
                <div class="social-button">
                    <a href="#" class="border-spec-hover">
                        <span class="color-spec">Читать полностью...</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="item-wrap">
                <div class="social">
                    <ul>
                        <li><a href="#"><img src="images/reviews-soc-img-1.png" alt="" target="_blank"></a></li>
                        <li><a href="#"><img src="images/reviews-soc-img-2.png" alt="" target="_blank"></a></li>
                        <li><a href="#"><img src="images/reviews-soc-img-3.png" alt="" target="_blank"></a></li>
                        <li><a href="#"><img src="images/reviews-soc-img-4.png" alt="" target="_blank"></a></li>
                    </ul>
                </div>
                <div class="person">
                    <div class="person-img"><img src="images/person-img-1.jpg" alt=""></div>
                    <div class="person-name">
                        <p>Петя Петров</p>
                        <span class="background-spec"></span>
                    </div>
                    <div class="person-subname">
                        <p>Офис менеджер “Студия-Дизайна”</p>
                    </div>
                </div>
                <div class="description cut-text" data-cut="180">
                    <p>«Это происходит нечасто, однако меня сильно раздражает, когда люди выдают результаты коллективной работы за свои собственные. Мне хочется, чтобы каждый сотрудник, внесший свой вклад в общее дело, получал по заслугам».</p>
                </div>
                <div class="social-button">
                    <a href="#" class="border-spec-hover">
                        <span class="color-spec">Читать полностью...</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>