<section class="services">

    <div class="title">
        <h2>Услуги</h2>
        <span class="background-spec"></span>
    </div>
    <div class="title-descript">
        <p>Мы годами делаем то, что нам нравиться, и каждый наш проект лучше другого</p>
    </div>

    <div class="services-items-wrap">

        <div class="services-item">
            <div class="services-item-content">
                <a href="#call-popup" class="fancybox-form">
                    <div class="services-item-desc color-spec">
                        <p>Разработка</p>
                        <span class="background-spec"></span>
                    </div>
                    <div class="services-title">
                        <h2>фирменного стиля</h2>
                    </div>
                    <div class="services-image">
                        <img src="images/services-img1.png" alt="" />
                        <span class="services-circle background-spec"></span>
                    </div>
                    <div class="services-item-button">
                        <span class="button">
                            <span>Подробнее...</span>
                        </span>
                    </div>
                </a>
            </div>
        </div>

        <div class="services-item">
            <div class="services-item-content">
                <a href="#call-popup" class="fancybox-form">
                    <div class="services-item-desc color-spec">
                        <p>Разработка</p>
                        <span class="background-spec"></span>
                    </div>
                    <div class="services-title">
                        <h2>LANDING PAGE</h2>
                    </div>
                    <div class="services-image">
                        <img src="images/services-img2.png" alt="" />
                        <span class="services-circle background-spec"></span>
                    </div>
                    <div class="services-item-button">
                        <span class="button">
                            <span>Подробнее...</span>
                        </span>
                    </div>
                </a>
            </div>
        </div>

        <div class="services-item">
            <div class="services-item-content">
                <a href="#call-popup" class="fancybox-form">
                    <div class="services-item-desc color-spec">
                        <p>Разработка</p>
                        <span class="background-spec"></span>
                    </div>
                    <div class="services-title">
                        <h2>САЙТА</h2>
                    </div>
                    <div class="services-image">
                        <img src="images/services-img3.png" alt="" />
                        <span class="services-circle background-spec"></span>
                    </div>
                    <div class="services-item-button">
                        <span class="button">
                            <span>Подробнее...</span>
                        </span>
                    </div>
                </a>
            </div>
        </div>

        <div class="services-item">
            <div class="services-item-content">
                <a href="#call-popup" class="fancybox-form">
                    <div class="services-item-desc color-spec">
                        <p>Разработка</p>
                        <span class="background-spec"></span>
                    </div>
                    <div class="services-title">
                        <h2>анимированых видео</h2>
                    </div>
                    <div class="services-image">
                        <img src="images/services-img4.png" alt="" />
                        <span class="services-circle background-spec"></span>
                    </div>
                    <div class="services-item-button">
                        <span class="button">
                            <span>Подробнее...</span>
                        </span>
                    </div>
                </a>
            </div>
        </div>

    </div>

    <div class="trianges trianges-bottom not-center"></div>

</section>