<section class="thanks parallax-block">
    <div class="mbox">
        <div class="thanks-wrap">
            <h1>Спасибо за заявку,<br>Мы свяжемся с Вами в ближайшее время.<span class="background-spec"></span></h1>
            <div class="call_back">
                <a href="./index.html" class="back-to-future border-spec border-spec-hover background-spec-hover">На главную</a>
            </div>
        </div>
    </div>
    <div class="mouse-parallax">
        <div class="parallax-layer layer-1" data-speed=0.05 data-img-path="images/mouse-parallax-layer1.png">
            <span></span>
        </div>
        <div class="parallax-layer layer-2" data-speed=0.1 data-img-path="images/mouse-parallax-layer2.png">
            <span></span>
        </div>
        <div class="parallax-layer layer-3" data-speed=0.15 data-img-path="images/mouse-parallax-layer3.png">
            <span></span>
        </div>
    </div>
</section>