<section class="top-block parallax-block y-too">

    <div class="mouse-parallax">
        <div class="parallax-layer layer-1" data-speed=0.01 data-img-path="images/tob-block-smoge.png">
            <span></span>
        </div>
        <div class="parallax-layer layer-2" data-speed=0.015 data-img-path="images/top-block-flowers-blinks.png">
            <span></span>
        </div>
    </div>

    <div class="top-block-wrap">

        <div class="top-block-main">
            <div class="top-block-title" id="top-block">
                <h1>ПРОФЕССИОНАЛЬНАЯ РАЗРАБОТКА <span class="color-spec">ЛЭНДИНГОВ</span> ПОД КЛЮЧ</h1>
            </div>
            <div class="top-block-descript">
                <div class="top-block-descript-wrap">
                    <h2>Рассчитайте стоимость разработки веб-сайта у специалистов</h2>
                    <span class="background-spec descript-line"></span>
                </div>
            </div>
            <div class="top-block-button">
                <a href="#call-popup" class="background-spec border-spec-reverse fancybox-form">
                    <span class="button-background background-spec-reverse border-spec"></span>
                    <span class="button-text">ПОЛУЧИТЬ КОМЕРЧЕСКОЕ ПРЕДЛОЖЕНИЕ</span>
                    <span class="span-button-arrow"></span>
                </a>
            </div>
        </div>

        <div class="top-block-footer">
            <p>
                Посмотрите наши последние работы, <span class="color-spec">ВАМ ПОНРАВИТЬСЯ</span>
            </p>
            <span class="top-block-bottom-arrow">
                <span class="arrow-wrap">
                    <span class="arrow-wrap-left"></span>
                    <span class="arrow-wrap-right"></span>
                </span>
                <span class="arrow-wrap">
                    <span class="arrow-wrap-left"></span>
                    <span class="arrow-wrap-right"></span>
                </span>
            </span>
        </div>

    </div>

    <div class="trianges trianges-bottom not-center"></div>

</section>