<section class="top-block">

    <div class="top-block-wrap">
        <div class="top-block-main">
            <div class="top-block-title">
                <h1>ПРОФЕССИОНАЛЬНАЯ РАЗРАБОТКА <span class="color-spec">ЛЭНДИНГОВ</span> ПОД КЛЮЧ</h1>
            </div>
            <div class="top-block-descript">Рассчитайте стоимость разработки веб-сайта у специалистов</div>
            <div class="top-block-button">
                <a href="#" class="button background-spec">
                    <span>ПОЛУЧИТЬ КОМЕРЧЕСКОЕ ПРЕДЛОЖЕНИЕ</span>
                    <span class="span-button-arrow"></span>
                </a>
            </div>
        </div>
        <div class="top-block-footer">
            <p>
                Посмотрите наши последние работы, <span>ВАМ ПОНРАВИТЬСЯ</span>
            </p>
            <span class="top-block-bottom-arrow"></span>
        </div>
    </div>

    <div class="trianges trianges-bottom not-center"></div>

</section>