@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1600px){

}
@media screen and (max-width: 1366px){
    /*portfolio*/
    .portfolio{
        .portfolio-wrap{padding-top: 50px;
            .item-img{height: 250px;}
        }
    }
    /*/portfolio*/

    /*portfolio pop*/
    .portfolio-pop:not(.reviews_pop_wrapper){
        .description{font-size: 14px;width: calc(40% + 15px);padding: 10px;justify-content: space-around;}
        .description>div{padding: 18px 18px;
            &:last-child{padding: 18px;}
        }
        .main-img{width: calc(60% - 10px);overflow: hidden;margin-top: 10px;
            .main-img-wrap{padding-left: 10px;}
        }
        .description-name{font-size: 38px;
            h5{
                &:after{bottom: -8px;}
            }
        }
        .description-type{margin-bottom: 5px;}
        .description-desc{font-size: 16px;padding-top: 20px;}
        .description-center-title{font-size: 26px;padding-bottom: 25px;
            b{
                &:after{bottom: -7px;}
            }
        }
        .description-center-text{line-height: 16px;font-size: 14px;}
        .description-bottom-left{
            b{font-size: 14px;}
        }
        .description-bottom-row{padding: 2px 0px;}
        .description-bottom-href{
            a{width: 170px;height: 40px;font-size: 14px;line-height: 34px;}
        }
    }
    /*/portfolio pop*/
}
@media screen and (max-width: 1170px){
    .slick-next{right: calc(49% - 80px);}
    .slick-prev{left: calc(49% - 80px);}
}
@media screen and (max-width: 1280px){
    /*reviews*/
    .reviews{min-height: auto;
        .reviews-slider .description{min-height: 130px;}
        .reviews-slider{margin-bottom: 153px;}
        .title-text{padding-top: 60px;}
        .mega-arrow{margin-bottom: 40px;}
        .reviews-slider .item-wrap{width: auto;padding: 15px 20px;}
        .reviews-slider .item{padding: 0 15px;}
    }
    /*/reviews*/
}
@media screen and (max-width: 1024px){
    /*portfolio*/
    .portfolio{
        .portfolio-wrap{
            .item{width: 50%;}
            .item-text-wrap{overflow: hidden;}
            .item-text{overflow: hidden;opacity: 1;background-color: rgba(255, 255, 255, 0.65);}
            .item-text .item-name{transform: scale(1);opacity: 1;font-size: 25px;padding-bottom: 5px;
                span{height: 3px;}
            }
            .item-text .item-type{transform: translateY(0px);opacity: 1;top: 8px;font-size: 14px;}
            .item-text .item-desc{transform: translateY(0px);opacity: 1;font-size: 13px;}
        }
    }
    /*/portfolio*/

    /*reviews*/
    .reviews{
        .reviews-slider .description{min-height: 155px;}
    }
    .slick-prev{left: calc(47% - 80px);}
    .slick-next{right: calc(47% - 80px);}
    /*/reviews*/
}
@media screen and (max-width: 992px){
    /*portfolio pop*/
    .portfolio-pop{
        .portfolio-pop-wrap{flex-direction:column-reverse;flex-wrap:wrap;}
        .description{width: 100%;margin:0 auto;}
        .main-img{width: 100%;margin:0 auto;}
    }
    /*/portfolio pop*/

    /*portfolio pop*/
    .reviews_pop{
        .person {flex-direction: column;}
        .person .person-img{width: 100%;}
        .person .person-right{width: 100%;padding-top: 20px;}
    }
    /*/portfolio pop*/
}
@media screen and (max-width: 767px){

}
@media screen and (max-width: 666px){

}
@media screen and (max-width: 600px){
    /*portfolio*/
    .portfolio{
        .portfolio-wrap{
            .item{width: 85%;margin:0 auto;}
        }
    }
    /*/portfolio*/
    /*reviews*/
    .reviews{
        .reviews-slider .social-button{padding-top: 20px;}
    }
    .slick-prev{left: calc(47% - 80px);}
    .slick-next{right: calc(47% - 80px);}
    /*/reviews*/

    /*portfolio pop*/
    .reviews_pop_wrapper .reviews_pop{padding: 50px 12px 25px;
        .fancybox-close{top: 10px;right: 10px;}
        .person {margin-bottom: 20px;}
        .person .person-img{}
        .person .person-right{text-align: center;}
    }
    /*/portfolio pop*/
}
@media screen and (max-width: 479px){
    /*portfolio*/
    .portfolio{
        .portfolio-wrap{
            .item{width: 100%;}
            .button-show-more{padding-top: 22px;}
            .button-show-more .button-show-text p{font-size: 30px;}
        }
        .trianges.trianges-bottom{bottom: -210px;}
    }
    /*/portfolio*/

    /*reviews*/
    .reviews{
        .title-text{padding-top: 25px;}
        .mega-arrow{margin-bottom: 30px;}
        .reviews-slider{margin-bottom: 131px;padding-top: 50px;}
        .reviews-slider .description{min-height: 150px;}
        .reviews-slider .social-button{padding-top: 20px;}
    }
    .slick-prev{left: calc(47% - 80px);}
    .slick-next{right: calc(47% - 80px);}
    /*/reviews*/

    /*partners*/
    .partners{background:none;padding-top: 50px;
        .item{margin: 10px 15px;}
    }
    /*partners*/

    /*portfolio pop*/
    .portfolio-pop{
        .description-bottom-left{width: 100%;}
        .description-bottom-right{width: 100%;border-left: 0;}
        .description > div:last-child{max-height: 100%;flex-direction: column;}
        .description-bottom-row{padding: 7px 0px;}
        .description-name{font-size: 30px;}
        .description-desc{font-size: 14px;}
        .description-center-title{font-size: 22px;}
        .main-img .main-img-wrap{padding-left: 0;}
    }
    /*/portfolio pop*/
}
@media screen and (max-width: 320px){
    /*portfolio*/
    .portfolio{
        .portfolio-wrap{
            .item{}
            .button-show-more{padding-top: 15px;}
            .button-show-more button{height: 52px;}
        }
        .trianges.trianges-bottom{bottom: -185px;}
    }
    /*/portfolio*/
}