@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1600px){

}
@media screen and (max-width: 1366px){

}
@media screen and (max-width: 1280px){

}
@media screen and (max-width: 1024px){

}
@media screen and (max-width: 992px){

    /* footer */

        .footer{
            .footer-top{margin-bottom:-100px;padding-top: 30px;
                .footer-list{width: 100%;margin-bottom: 40px;
                    &:last-child{width: 100%;
                        ul{
                            li{
                                &:last-child{
                                    &:after{right: 0;left:auto;}
                                }
                            }
                        }
                    }
                    ul{
                        li{
                            &:after{display: none;}
                        }
                        li:first-child, li:last-child{top: -50px;
                            &:after{display: block;}
                        }
                        li:last-child{
                            &:after{right: auto;left:0;}
                        }
                    }
                }
            }
        }

    /* /footer */

}
@media screen and (max-width: 767px){

    /* top-block */

        .top-block{
            .top-block-wrap{height: 860px;}
        }

    /* /top-block */

}
@media screen and (max-width: 666px){

    /* top-block */

        .top-block{
            .top-block-main{padding: 0 10px;
                .top-block-title{
                    h1{font-size: 36px;line-height: 40px;}
                }
                .top-block-descript{font-size: 15px;
                    .descript-line{height: 3px;}
                }
                .top-block-button{
                    a{font-size: 15px;padding: 0 70px;height: 60px;
                        .span-button-arrow{width: 58px;height: 58px;}
                    }
                }
            }
        }

    /* /top-block */

    /* contacts */

        .contacts{
            .contacts-form-wrap{
                .form-title{font-size: 36px;
                    span{font-size: 50px;}
                }
            }
        }

    /* /contacts */

    /* footer */

        .footer{
            .footer-top{
                .footer-list{margin-bottom: 0;
                    ul{
                        li{width: 50%;margin-bottom: 20px;
                            &:after{display: none!important;}
                            &:first-child, &:last-child{top: 0;}
                        }
                    }
                }
            }
        }

    /* /footer */

}
@media screen and (max-width: 479px){

    /* top-block */

        .top-block{
            .top-block-wrap{height: 675px;}
            .top-block-main{
                .top-block-title{margin-bottom: 25px;
                    h1{font-size: 26px;line-height: 32px;}
                }
                .top-block-button{margin-bottom: 50px;
                    a{line-height: 17px;}
                }
            }
        }

    /* /top-block */

    /* contacts */

        .contacts{
            .contacts-descript{line-height: 24px;font-size: 18px;}
            .contacts-form-wrap{
                .form-title{font-size: 25px;line-height: 45px;
                    span{font-size: 40px;}
                }
            }
        }

    /* /contacts */

    /* footer */

        .footer{
            .footer-top{
                .footer-list{
                    ul{
                        li{width: 100%;}
                    }
                }
            }
        }

    /* /footer */

}
@media screen and (max-width: 320px){

}